<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paidelidemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <!-- 允许应用程序联网，以便向我们的服务器端发送数据 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- ###################声明SDK使用的相关权限###################### -->
    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取mac地址作为用户的备用唯一标识 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取用户手机的IMEI，用来唯一的标识用户 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- ###################声明启动定位LBS功能使用的相关权限###################### -->
    <!-- 启动粗略定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 启动精确定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- video权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <meta-data
        android:name="com.dlnetwork.cid"
        android:value="default" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >

        <!-- Don't forgot InitActivity -->
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.example.paidelidemo.ui.welcom.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.paidelidemo.ui.welcom.GuideActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.example.paidelidemo.ui.login.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.example.paidelidemo.ui.login.HeadBaseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.example.paidelidemo.ui.login.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.example.paidelidemo.ui.login.ForgotPasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.example.paidelidemo.ui.login.InvitationCodeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.example.paidelidemo.ui.home.HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.example.paidelidemo.ui.home.SignInActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.example.paidelidemo.ui.home.MyMessageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.example.paidelidemo.ui.home.HeadActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.example.paidelidemo.ui.home.BannerDesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.example.paidelidemo.ui.exchangemore.ExchangeMoreActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.example.paidelidemo.ui.earncoins.EarnCoinsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.example.paidelidemo.ui.earnpoints.EarnPointsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.example.paidelidemo.ui.mytask.MyTaskActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.example.paidelidemo.ui.happyernie.HappyErnieActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.example.paidelidemo.ui.onermbernie.OneRmbErnieActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.example.paidelidemo.ui.shineprize.ShinePrizeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.example.paidelidemo.ui.myfriend.MyFriendActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.example.paidelidemo.ui.myinformation.MyInformationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.example.paidelidemo.ui.merchantaccount.MerchantAccountActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.example.paidelidemo.ui.recommentfrends.FriendRequestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.example.paidelidemo.ui.recommentfrends.ProManagerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="io.vov.vitamio.demo.VideoViewBuffer"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        

        <!-- *************************    分享相关的注册 START **************************** -->


        <!-- 微信回调activity -->
        <activity
            android:name="com.jishijiyu.takeadvantage.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- ###################注册SDK使用的Activity###################### -->
        <!-- 分享编辑页 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID -->
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!-- ###################添加UmengAppkey###################### -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5563d76767e58e2817005ad1" >
        </meta-data>

        <!-- *************************    分享相关的注册 END **************************** -->
        <!-- 评论相关注册  START -->
        <activity
            android:name="com.umeng.socialize.view.CommentActivity"
            android:configChanges="orientation|keyboard"
            android:theme="@style/Theme.UMDefault" >
        </activity>
        <activity
            android:name="com.umeng.socialize.view.CommentDetail"
            android:configChanges="orientation|keyboard"
            android:noHistory="true"
            android:theme="@style/Theme.UMDefault" >
        </activity>
        <activity
            android:name="com.umeng.socialize.view.CommentDetailNoMap"
            android:configChanges="orientation|keyboard"
            android:noHistory="true"
            android:theme="@style/Theme.UMDefault" >
        </activity>
        <!-- 评论相关注册  End -->
    </application>

</manifest>